/* 可以参考这里进行抄写，修改完成之后需要在tailwind.config.cjs里面进行引用设置 */

@font-face {
  font-family: 'LXGWWenKai';
  src: url('fonts/lxgw/LXGWWenKai-Regular.woff2') format('woff2');
  font-weight: 400;  /* Regular 通常对应 400 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('fonts/lxgw/LXGWWenKai-Medium.woff2') format('woff2');
  font-weight: 500;  /* Medium 通常对应 500 */
  font-style: normal;
  font-display: swap;
}
